*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
helloworld/.vs/helloworld/v17/.suo
helloworld/helloworld/x64/Debug/helloworld.exe.recipe
helloworld/helloworld/x64/Debug/helloworld.ilk
helloworld/helloworld/x64/Debug/helloworld.log
helloworld/helloworld/x64/Debug/helloworld.obj
helloworld/helloworld/x64/Debug/vc143.idb
helloworld/helloworld/x64/Debug/vc143.pdb
helloworld/helloworld/x64/Debug/helloworld.tlog/CL.command.1.tlog
helloworld/helloworld/x64/Debug/helloworld.tlog/CL.read.1.tlog
helloworld/helloworld/x64/Debug/helloworld.tlog/CL.write.1.tlog
helloworld/helloworld/x64/Debug/helloworld.tlog/helloworld.lastbuildstate
helloworld/helloworld/x64/Debug/helloworld.tlog/link.command.1.tlog
helloworld/helloworld/x64/Debug/helloworld.tlog/link.read.1.tlog
helloworld/helloworld/x64/Debug/helloworld.tlog/link.write.1.tlog
helloworld/x64/Debug/helloworld.exe
helloworld/x64/Debug/helloworld.pdb
